/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #378bbb;
  --ifm-color-primary-dark: #317da8;
  --ifm-color-primary-darker: #2f769f;
  --ifm-color-primary-darkest: #276183;
  --ifm-color-primary-light: #4397c8;
  --ifm-color-primary-lighter: #4c9cca;
  --ifm-color-primary-lightest: #68acd3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
  --ifm-color-primary: #378bbb;
  --ifm-color-primary-dark: #317da8;
  --ifm-color-primary-darker: #2f769f;
  --ifm-color-primary-darkest: #276183;
  --ifm-color-primary-light: #4397c8;
  --ifm-color-primary-lighter: #4c9cca;
  --ifm-color-primary-lightest: #68acd3;
}

[data-theme='dark'] .menu-link--success > a {
  color: var(--ifm-color-success-lightest);
}

.menu-link--success > a {
  color: var(--ifm-color-success-darkest);
}

.menu-link--community > a::after {
  margin-left: 0.5em;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7 18v-1a5 5 0 0 1 5-5v0a5 5 0 0 1 5 5v1M1 18v-1a3 3 0 0 1 3-3v0m19 4v-1a3 3 0 0 0-3-3v0m-8-2a3 3 0 1 0 0-6a3 3 0 0 0 0 6m-8 2a2 2 0 1 0 0-4a2 2 0 0 0 0 4m16 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4'/%3E%3C/svg%3E");
  background-color: currentColor;
  background-image: (var(--svg));
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

