@import 'highlight.js/styles/github.css';

/* .hljs-theme :global(pre) {
  background: inherit;
  padding: 1rem;
  overflow: auto;
  border-radius: 6px;
}

.hljs-theme :global(code.hljs) {
  font-size: 0.875rem;
  line-height: 1.4;
} */
